/* Based Cyan Web template 0.2
Created by mikecyanin(https://mikecyanin.github.com)
License : MIT License
*/

html {
    overflow-x: hidden;
    font-family: "HiraginoSans-W2", -apple-system, BlinkMacSystemFont, 'Noto Sans JP';
    font-weight: 100px;
    color: white;
    width: 100%;
    height: 100%;
    background: url(background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}


a,
a:visited {
    text-decoration: none !important;
    color: white;
}

header {
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 10px;
    animation-duration: 2s;
    animation-name: splash;

}

#line {
    border-bottom: dotted 2px whitesmoke;
}

#img {
    padding: 5%;
}

header img {
    border-radius: 80px;
    width: 160px;
    border: solid whitesmoke;
}

header small {
    font-weight: 100px;
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 100px;

}

#body img {
    text-decoration: none;
    transition: all .5s;
}

#body img:hover {
    text-decoration: none;
    transform: scale(1.2);
}

#aboutmebg {
    background: url(img/icon.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
}

#aboutme {
    background-color: rgba(0, 0, 0, 0.5);
}

#aboutme p {
    padding: 1.25%;
}

#aboutmecontents {
    border-bottom: dotted 2px whitesmoke;
    padding: 1.25%;
}

#keiko h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#worksc {
    padding-bottom: 5%;
}

#contact {
    background-color: rgba(0, 0, 0, 0.5);
}

#donate {
    background-color: rgba(245, 222, 179, 0.5);
}

#link {
    height: 25px;
    font-size: 16px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    transition: all .5s;
}

#link:hover {
    color: black;
    background-color: white;
}

#notlink {
    height: 25px;
    font-size: 16px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: dimgray;
    border: solid 1px dimgray;
    border-radius: 5px;
}

#body {
    padding: 1%;
    position: relative;
    text-align: center;
}

#body h1 {
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    font-weight: 400px;
}

#body h2 {
    padding-top: 3.5%;
    padding-left: 5%;
    text-align: left;
}






@keyframes splash {
    0% {
        transform: translateX(-100%);

    }

}
@keyframes splash2 {
    0% {
        transform: translateX(-100%);

    }

}

@media screen and (max-width: 500px) {

    /* 表示領域が320px以下の場合に適用するスタイル */
    header {
        font-weight: 125px;
        font-size: 50px;
        height: 100%;
        padding: auto auto;
    }

    #mobmanu a,
    a:visited {
        font-family: 'Poiret One', cursive;
        display: block;
        font-size: 50%;
        padding: 1%
    }

    #pcmanu {
        display: none;
    }
}

@media screen and (min-width: 501px) {

    /* 表示領域が800px以上の場合に適用するスタイル */
    header {
        font-weight: 125px;
        font-size: 60px;
        height: 100%;
        padding: auto auto;
    }

    #pcmanu a,
    a:visited {
        display: inline-block;
        font-size: 50%;
        padding-left: 2.5%;
        text-decoration: none;
        transition: all .5s;
    }

    #pcmanu a:hover {
        text-decoration: none;
        opacity: 0.5;
    }

    #mobmanu {
        display: none;
    }
}