/* Based Cyan Web template 0.2
Created by mikecyanin(https://mikecyanin.github.com)
License : MIT License
*/

html {
    overflow-x: hidden;
    font-family: "HiraginoSans-W1", -apple-system, BlinkMacSystemFont, 'Noto Sans JP';
    font-weight: 200px;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 0;
}


a,
a:visited {
    text-decoration: none !important;
    color: white;
}

small {
    padding: 1%;
}

header {
    text-align: center;
    padding: 0.1;

}

#line {
    border-bottom: dotted 2px whitesmoke;
}

#img {
    padding: 5%;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 100px;
    z-index: 1;
}

#body img {
    text-decoration: none;
    transition: all .5s;
}

#body img:hover {
    text-decoration: none;
    transform: scale(1.2);
}

#Contents {
    height: 100%;
    padding: 10px;
    color: whitesmoke;
    margin: auto auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.75px;
}

#Contents h1 {
    font-family: 'Poiret One',
        cursive;
    color: whitesmoke;
    font-size: 500%;
}

#STitle {
    padding: 15px;
    color: white;
    text-align: center;
}

#aboutmebg {
    background: url(img/icon.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutme {
    background-color: rgba(0, 0, 0, 0.5);
}

#aboutme p {
    padding: 1.25%;
}

#aboutmecontents {
    border-bottom: dotted 2px whitesmoke;
    padding: 1.25%;
}

#keiko h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#worksc {
    padding-bottom: 5%;
}

#contact {
    background-color: rgba(0, 0, 0, 0.5);
}

#donate {
    background-color: rgba(245, 222, 179, 0.5);
}

#link {
    height: 100%;
    font-size: 16px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    z-index: 0;
    border: solid 0.5px whitesmoke;
    border-radius: 4px;
    position: relative;
    transition-duration: 200ms;
    transition-property: background-color,
        color,
        box-shadow,
        border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#link:hover {
    color: black;
    background-color: #FFA000;
}

#notlink {
    height: 25px;
    font-size: 16px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: rgb(169, 169, 169);
    border: solid 0.5px rgba(169, 169, 169, 0.5);
    border-radius: 5px;
}

#body {
    padding: 1%;
    position: relative;
    text-align: center;
}

#body h1 {
    font-family: 'Poiret One', cursive;
    font-size: 60px;
}

#projectspark {
    font-family: "HiraginoSans-W3", 'Noto Sans JP';
    padding: 5%;
    position: relative;
    text-align: center;
    background-color: rgba(210, 124, 139, 0.5);
    color: black;
}

#projectsparkbg {
    width: 100%;
    background: url(img/projectspark.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#projectsparkh {
    font-family: "HiraginoSans-W0", 'Noto Sans JP';
    font-size: 60px;
    font-weight: 100px;
}

#testerspark {
    font-family: "HiraginoSans-W3",
        'Noto Sans JP';
    padding: 5%;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.6);
    color: white;
}

#testersparkbg {
    width: 100%;
    background: url(img/testerspark.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#testersparkh {
    font-family: "HiraginoSans-W0", 'Noto Sans JP';
    font-size: 60px;
    font-weight: 100px;
}

#keiko {
    font-family: "HiraginoSans-W3",
        'Noto Sans JP';
    padding: 5%;
    position: relative;
    text-align: center;
    background-color: rgba(0, 122, 255, 0.6);
    color: white;
}

#keikobg {
    width: 100%;
    background: url(img/keikouscreen.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#keikoh {
    font-family: "HiraginoSans-W0", 'Noto Sans JP';
    font-size: 60px;
    font-weight: 100px;
}

#pirka {
    font-family: "HiraginoSans-W3",
        'Noto Sans JP';
    padding: 5%;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.pirka h1 {
    color: #06c;
    font-size: 300%;
    font-family: 'Comfortaa', sans-serif;
}

#djapp {
    font-family: "HiraginoSans-W3",
        'Noto Sans JP';
    padding: 5%;
    position: relative;
    text-align: center;
    background-color: rgba(30, 144, 255, 0.75);
    ;
    color: white;
}

#化 {
    font-family: 'Poiret One',
        cursive;
    width: 100%;
    height: 100%;
    animation-duration: 0.5s;
    animation-name: splash;
    position: fixed;
        z-index: 0;
        animation-fill-mode:both;
}
#猫黒 {
    font-family: 'Poiret One',
        cursive;
    width: 100%;
    height: 100%;
    background-color: #673AB7;
    animation-duration: 0.5s;
    animation-name: splash2;
    position: fixed;
     z-index: 0;
animation-delay: 0.5s;
        animation-fill-mode:both;
}
#傷 {
    font-family: 'Poiret One',
        cursive;
    width: 100%;
    height: 100%;
    color: black;
    animation-duration: 0.5s;
    animation-name: splash3;
    position: fixed;
    z-index: 0;
    animation-delay: 1s;
    animation-fill-mode: both;
}



@keyframes splash {
    0% {
        transform: translateX(-100%);
        background: pink;
z-index: 10000;
    }
        50% {
                           background: pink;
        }
    100% {
        background: #E91E63;
    }
}

@keyframes splash2 {
    0% {
        transform: translateX(-100%);
        background-color: #E91E63;
        z-index: 10001;

    }

    50% {
    background-color: #E91E63;
    }

    100% {
        background: #673AB7;

    }

}

@keyframes splash3 {
    0% {
        transform: translateY(-100%);
        background-color: pink;
        z-index: 10002;

    }

    50% {
    background-color: pink;
    }

    100% {
        background: #E91E63;

    }

}

@media screen and (max-width: 500px) {
    html {
        background: #FF6E40;
    }

    /* 表示領域が320px以下の場合に適用するスタイル */
    header {
        font-weight: 125px;
        font-size: 50px;
        height: 100%;
        padding: auto auto;
    }

    #mobmanu a,
    a:visited {
        font-family: 'Poiret One', cursive;
        display: block;
        font-size: 50%;
        padding: 1%
    }

    #pcmanu {
        display: none;
    }
}

@media screen and (min-width: 501px) {
    html {
        background: #FF6E40;
    }

#big {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    font-size: 500%;
    height: 64px;
text-align: center;
}

    /* 表示領域が800px以上の場合に適用するスタイル */
    header {
        font-weight: 125px;
        font-size: 60px;
        height: 100%;
        padding: auto auto;
    }



    #pcmanu a,
    a:visited {
        display: inline-block;
        font-size: 50%;
        padding-left: 2.5%;
        text-decoration: none;
        transition: all .5s;
    }

    #pcmanu a:hover {
        text-decoration: none;
        opacity: 0.5;
    }

    #mobmanu {
        display: none;
    }
}